:root {
  --bgc: rgb(28, 28, 28);
  --75percblack: rgba(28, 28, 28, 0.75);
  --lightbgc: rgb(41, 40, 40);
  --darkblue: #161e54;
  --hvrdarkblue: #343c6c;
  --lightblue: #88e0ef;
  --hvrlightblue: ;
  --red: #ff5151;
  --orange: #ff9b6a;
  --white: #fff;
  --10percwhite: rgba(255, 255, 255, 0.1);
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--75percblack);
}

.footer-wrapper {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.top-footer {
  height: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 100%;
  max-width: 1260px;
  padding: 22px;
}

/* placeholder  */

.top-footer .left {
  width: 56%;
  border-right: 2px solid var(--orange);
}

.top-footer .left p {
  text-align: left;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--lightblue);
}

.top-footer .left h3 {
  font-size: 2rem;
  text-align: left;
  letter-spacing: 0.75px;
}

/* Try now button  */

.top-footer .left #try-now-btn {
  background: rgba(0, 0, 0, 0);
  color: var(--lightblue);
  border: 4px solid var(--lightblue);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 6px 30px;
  cursor: pointer;
  margin-top: 2em;
  transition: all 0.3s ease-in-out;
}

.top-footer .left #try-now-btn:hover {
  box-shadow: inset 8.1em 0 0 0 var(--white);
  color: var(--bgc);
}

.top-footer .middle {
  width: 22%;
  border-left: 1px solid var(--orange);
  border-right: 2px solid var(--orange);
}

.top-footer .middle ul {
  list-style-type: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.top-footer .middle ul li {
  margin: 0.55rem;
}

.top-footer .middle ul li a {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  position: relative;
  padding-bottom: 1px;
}

.top-footer .middle ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lightblue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.top-footer .middle ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.top-footer .right {
  width: 22%;
  padding: 20px;
  border-left: 1px solid var(--orange);
}

.top-footer .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.top-footer .socials .twitter,
.linkedin,
.github {
  margin: 0.75rem;
}

.socials a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s ease;
}

.socials a:hover {
  transform: scale(1.2);
}

/* Responsive Footer  */

/* Make footer into columns instead of rows if vw < 768px  */

@media (max-width: 768px) {
  .top-footer {
    /* background-color: yellow; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .top-footer .left,
  .top-footer .middle,
  .top-footer .right {
    border: none;
    width: 100%;
    text-align: center;
  }

  .top-footer .left p {
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 1px;
    display: none;
  }

  .top-footer .left h3 #tvt::after {
    display: block;
    content: "IT'S FREE.";
    font-size: 0.85rem;
    font-weight: 400;
    position: relative;
    top: 5px;
    right: 7.1rem;
    color: var(--lightblue);
  }

  .top-footer .left h3 {
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
  }

  .top-footer .left #try-now-btn {
    margin-top: 1rem;
    padding: 4px 25px;
    border: 3px solid var(--lightblue);
    font-size: 0.85rem;
  }

  .top-footer .middle ul {
    margin-top: 1rem;
    flex-direction: row;
  }

  .top-footer .socials {
    margin-top: 1rem;
    flex-direction: row;
    padding: 0;
  }
}

/* Large devices (desktops/laptops 992px+) */
@media (min-width: 992px) {
  .top-footer {
    max-width: 1170px;
  }
}

/* Exit media query  */

.bottom-footer {
  display: flex;
  width: 100%;
  height: 25%;
  font-size: 0.85em;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--75percblack);
  padding-bottom: 22px;
}
