* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(28, 28, 28);
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.card {
  background: rgb(10, 48, 145);
  border-radius: 30px;
  padding: 30px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-cards {
  display: flex;
  flex-direction: row;
}

.card h2 {
  font-size: 1.25rem;
}

.card .left-card {
  width: 50%;
  /* background: red; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 25px;
}

.card .right-card {
  width: 50%;
  /* background: black; */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 25px;
}

.left-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

/* Bottom section 'view on flexpool'  */

.bottom-of-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-of-card a {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
  padding: 3px;
  border-radius: 5px;
  font-style: italic;
}

/* testing delete later */

.more-cards {
  background-color: #fff;
  min-height: 300px;
  width: 100%;
  margin: 1em 1.25em;
  /* padding: 1em 1.25em; */
  background-color: red;
  border-radius: 5px;
  border: 5px solid blue;
}
