.nav {
  background: var(--75percblack);
  border-radius: 0 0 15px 15px;
  font-size: 1em;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  margin: 10px 0;
  padding: 20px;
}

.nav ul li a {
  text-decoration: none;
  margin: 0;
  color: var(--white);
  font-weight: 600;
  position: relative;
  padding-bottom: 1px;
}

.nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lightblue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

#logo {
  width: 100%;
  border-radius: 50%;
}

.spin {
  animation: spinner 2s linear infinite;
}

#logo-link {
  width: 55px;
  border-radius: 50%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide Hamburger menu if screen > 576px wide  */
.nav ul .fa-bars {
  display: none;
  margin: 0 20px;
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .mobile-hamburger-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    user-select: none;
  }

  .nav ul {
    flex-direction: column;
    margin: 0 30px;
    align-items: flex-start;
  }

  .nav ul li {
    display: none;
    width: 100%;
  }

  #logo {
    width: 100%;
  }

  #logo-link {
    width: 40px;
    margin: 30px 0 30px 1rem;
    justify-content: flex-start;
  }

  .nav ul .fa-bars {
    display: block;
  }
}

/* hidden/show class for JS toggling */

.nav ul .show {
  display: block;
}
