:root {
  --bgc: rgb(28, 28, 28);
  --lightbgc: rgb(41, 40, 40);
  --darkblue: #161e54;
  --hvrdarkblue: #343c6c;
  --lightblue: #88e0ef;
  --hvrlightblue: ;
  --red: #ff5151;
  --orange: #ff9b6a;
  --10percwhite: rgba(255, 255, 255, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgc);
  color: #fff;
  font-family: sans-serif;
}

.nav {
  background: var(--darkblue);
  border-radius: 15px;
  font-size: 1.125rem;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  margin: 25px 0;
}

.nav ul li a {
  text-decoration: none;
  padding: 20px;
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.nav ul li a:hover {
  background: #222958;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}

#logo {
  width: 100%;
  border-radius: 50%;
}

.spin {
  animation: spinner 2s linear infinite;
}

#logo-link {
  width: 55px;
  border-radius: 50%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  min-height: 40vh;
  margin: 30px;
  text-align: center;
}

main h1 {
  font-size: 2.25rem;
  padding: 20px;
}

main h2 {
  font-size: 1.25rem;
  text-align: center;
  padding: 10px;
}

main h2 a {
  color: #fff;
}

/* FORM input text */

form {
  padding: 15px;
}

form .select-pool {
  text-align: center;
  font-size: 1.075rem;
  padding: 10px;
}

form .select-pool input[type="radio"] {
  transform: scale(1.33);
  margin: 0 5px;
}

form .select-pool label {
  padding: 10px;
}

form input,
form button {
  font-size: 1.125rem;
  font-family: sans-serif;
  padding: 7px;
  outline: none;
  border: 3px solid rgba(10, 48, 145, 0.3);
}

form input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

form input:focus {
  border: 3px solid rgba(10, 48, 145, 0.6);
}

.input-address-container {
  filter: drop-shadow(0 0 0.25rem white);
}

#miner-address {
  margin-top: 10px;
}

form button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  background: var(--darkblue);
  color: #fff;
  font-weight: 500;
  margin-left: -5px;
}

form button:hover {
  background: var(--hvrdarkblue);
}

form button:active {
  background: var(--actdrkblue);
}

/* More info section 3 columns 1 row   */

#extra-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  border: 2px solid var(--10percwhite);
  border-radius: 5px;
}

.col-container {
  margin: 0 auto;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 20px;
  border-radius: 5px;
}

.col-2 {
  margin-left: 10px;
}

.col-3 {
  margin-left: 10px;
}

/* progress bar  */

.progress {
  background-color: var(--lightbgc);
  height: 0.4em;
  position: relative;
  width: 100%;
}
.progress-bar-custom {
  background-size: 23em 0.25em;
  height: 100%;
  position: relative;
  background-color: var(--bg);
  animation: cssload-width 30s linear infinite;
  -o-animation: cssload-width 30s linear infinite;
  -ms-animation: cssload-width 30s linear infinite;
  -webkit-animation: cssload-width 30s linear infinite;
  -moz-animation: cssload-width 30s linear infinite;
}

@keyframes cssload-width {
  0%,
  100% {
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Get started section*/

#get-started {
  border: 2px solid var(--10percwhite);
  border-radius: 5px;
  margin: 30px;
  text-align: center;
  padding: 20px;
}

#get-started a {
  color: var(--orange);
}

/* FAQ  */

.faq-container {
  border-radius: 5px;
  margin: 30px;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 5px;
}

.faq-container details {
  cursor: pointer;
}

.faq-container summary:hover {
  color: var(--orange);
}

.faq-container details summary {
  font-size: 1.125em;
  font-weight: 600;
  list-style-type: none;
}

.faq-container details[open] summary {
  margin-bottom: 10px;
}

.question-border-top {
  /* background-color: red; */
  box-sizing: border-box;
  border-top: 2px solid var(--10percwhite);
  border-left: 2px solid var(--10percwhite);
  border-right: 2px solid var(--10percwhite);
  padding: 10px 20px;
}

.question-1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.question-4 {
  border-bottom: 2px solid var(--10percwhite);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
